@import "variable";

.nav-bar {
  display: flex;
  width: 100vw;
  margin: auto;
  justify-content: space-between;
  height: 10vh;
  padding: 0 5vw;
  background-color: rgb(245, 245, 245);
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }

  .flex-container-title {
    display: flex;
    align-items: center;
    a {
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: bold;
    }
  }

  .flex-container-nav-bar {
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    position: relative;
    // need to specify width & height since position relative is used
    width: 50%;
    height: 100%;
    li {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      color: $textColor;
      position: absolute;
    }
    a:hover {
      border-bottom: solid black 1px;
    }
  }
}
