.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  background-color: whitesmoke;
}

.nav-bar .flex-container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .flex-container-title a {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.nav-bar .flex-container-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5vw;
}

.nav-bar a {
  padding: 0 2.5vw;
  color: #444444;
  text-decoration: none;
}

.nav-bar a:hover {
  color: black;
}

body {
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4vh;
  color: black;
  font-weight: 100;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
  /* !need to find a way to not add !important */
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7vh 0 1vh 0;
  font-size: 20px;
  font-weight: 400;
}

.content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1fr;
      grid-template-columns: 2.5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 2vw;
}

.paragraph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  padding: 5vh;
}

.paragraph-container p {
  display: inline;
  font-size: 15px;
}

.citation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.citation-container a {
  color: #222;
  list-style: none;
}

.citation-container h3 {
  font-size: 15px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 0;
}

.citation-container #author p {
  padding: 0.5vh;
}

.citation-container #affliation p {
  padding: 0.5vh;
}

.citation-container #lab-link p {
  padding: 0.5vh;
}

.citation-container #source-code p {
  padding: 0.5vh;
}

.citation-container #source-code .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.citation-container #source-code .container img {
  padding: 0.5vw;
}
/*# sourceMappingURL=home.css.map */